<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brightfuture3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.room2.Noise2"
            android:label="@string/title_activity_noise2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.room2.Pir2"
            android:label="@string/title_activity_pir2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.room2.Temp2"
            android:label="@string/title_activity_temp2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.room1.Noise1"
            android:label="@string/title_activity_noise1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.room1.Pir1"
            android:label="@string/title_activity_pir1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.room1.Temp1"
            android:label="@string/title_activity_temp1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.room1.Room1"
            android:label="@string/title_activity_room1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.room2.Room2"
            android:label="@string/title_activity_room2"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>